/* Header Style Part */
.headdiv1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.headdiv2 h3{
    color:#FFB30E;
    font-family: Qwigley;
    font-size: 60px;
    font-weight: 400;
    margin-left: 80px;
}
.headdiv2{
    margin-top:-10px;
}
.headbgimg{
    width:100%;
}
.headdiv6{
    position: absolute;
    margin-top: 90px;
    margin-left: 80px;
}
.headdiv6 h2{
    font-family: Qwigley;
    font-weight: 400;
    font-size: 70px;
    color:white;
}
.headdiv6 p{
    color:#504F4F;
    font-family: Source Sans Pro;
    font-weight: 400;
}
.headfoodimg{
    margin-left: 950px;
    margin-top: -500px;
    height: 350px;
}
.headspan1{
    font-weight:700;
    color:#424242;
}
.headspan2{
    font-weight: 400;
    color:#424242;   
}
.headspan3{
    font-weight: 700;
    color: #424242;
}
.headdiv4{
    margin-top:10px;
    margin-left:870px;
}
.headdiv4 p{
    font-weight: 700;
    color:#424242;
}
.headdiv5{
    margin-top:10px;
}
.login{
    margin-right: 110px ;
    border-radius: 5px;
    padding:5px 25px;
    text-decoration: none;
    border: 2px solid #FFAC0D;
    color: #FF8A00;
    font-family: Source Sans Pro;
    font-size: 18px;
}
.headdiv3 {
    margin-top: 10px;
    margin-left:500px;
    position: absolute;
}
.location{
    content: url(./images/mapmarker.svg);
    position:absolute;
    margin-top:-59px;
    margin-left:579px;
}
.search{
    content: url(./images/Search.svg);
    position:absolute;
    margin-top:-56px;
    margin-left:1125px;
}
.user{
    content: url(./images/user.svg);
    position:absolute;
    margin-top:-56px;
    margin-left:1270px;
}
.whiterect{
    width:45%;
    Height:200px;
    margin-top:-430px;
    margin-left: 60px;
    
}
.delivery{
    border-radius: 8px;
    background: rgba(241, 114, 40, 0.10);
    padding: 8px 28px;
    font-weight: 700;
    color:#F17228;
    width:130px;
    position: absolute;
    margin-top: -280px;
    margin-left: 100px;
}
.pickup{
    color:#757575;
    font-weight: 700;
    position: absolute;
    margin-top: -275px;
    margin-left: 288px;
}
.address{
    position: absolute;
    margin-top: -220px;
    margin-left: 100px;
    border-radius: 8px;
    background: var(--theme-gray-100, #F5F5F5);
    padding: 10px 20px;
    width:400px;
    
}
.findfood{
   text-decoration: none;
   position: absolute;
   margin-top: -193px;
   margin-left:-200px;
   border-radius: 8px;
   background-color: #F17228;
   padding:10px 35px;
   color:white;
   font-weight: 700; 
}
.bike{
    content: url(./images/bike.svg);
    position: absolute;
    margin-top: -268px;
    margin-left: 100px;
}
.pick{
    content: url(./images/pickup.svg);
    margin-top: -272px;
    margin-left: 260px;
    position: absolute;
}
.address::before{
    content: url(./images/orange\ map.svg);
    
}
/* Header style End */

/* Section1 Style Start */
.section1{
    margin-top: 60px;
}
.section1 .card1, .card2, .card3, .card4{
    width:65%;
    Height:80%;
}
.section1 .card1{
    margin-left: 100px;
    border:none !important;
}
.section1 .card2{
    margin-left: -80px;
    border:none !important;
}
.section1 .card3{
    margin-left: -260px;
    border:none !important;
}
.section1 .card4{
    margin-left: 1070px;
    margin-top: -390px;
    border:none !important;
}
.card-footer{
    border:none !important;
    width:150px;
    font-weight: 700;
    border-radius: 8px !important;
    background: rgba(241, 114, 40, 0.20) !important;
    color:#F17228 !important;
}
.text-color{
    color:#F17228 !important;
}
.card-title{
    font-weight: 700;
    color:#424242 !important;
}
.one{
    margin-top: 80px;
}
.one h4{
    font-weight: 700;
    color:#F17228;
    font-size: 30px;
    
}
.sectionrect{
    width:940px;
    Height:210px;
    position: relative;
}
.two{
    display: flex;
    position: absolute;
    margin-left:400px;
    margin-top: -130px;
}
.p1{
    font-weight:700;
    font-size:20px;
    background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p2{
    font-weight:700;
    font-size:20px;
    background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p3{
    font-weight:700;
    font-size:20px;
    background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.discount{
    content: url(./images/discount.svg);
    width:60px;
    Height:60px;
    margin-left: 60px;
}
.line{
    content: url(./images/line.svg);
    width:60px;
    Height:60px;
    margin-left:25px;
}
.live{
    content: url(./images/livetract.svg);
    width:60px;
    Height:60px;
}
.quick{
    content: url(./images/clock.svg);
    width:60px;
    Height:60px;
}
/* Section1 Style End */

/* Section2 Style Start */
.sec2div h3{
    font-weight:700;
    margin-top: 40px;
    margin-left: 100px;
}
.sec2div1{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.sec2div1 .card{
    border:none;
    width:180px !important;
}
.sec2div1 .card1{
    margin-left:100px;
    
}
.sec2div1 .card6{
    margin-right:100px;
}
.sec2div1 .cd1{
    margin-left: 50px;
    font-weight: 700;
}
.sec2div1 .cd2{
    margin-left:35px;
    font-weight: 700;
}
/* Section2 Style End */
/* Section 3 Style Start */
.sec3div1{
    margin-top:180px;
    margin-left: 140px;
    position: absolute;

}
.foodimage{
    width:700px;
    
    margin-left: 680px;
    margin-top: 80px;
}
.sec3div1 h3{
    font-size: 35px;
    font-weight: 700;
    color:#FFB30E;
}
.sec3div1 span{
    color: #353535;
}
.sec3div1 p{
    font-weight: 600;
    color: #616161;
}
.btn1{
    text-decoration: none;
    color: #FFFFFF;
    font-size:15 px;
    font-weight:900;
    padding:10px 80px;
    background-color: #FFB800;
    border-radius: 10px;
    width:500px;
    box-shadow: 0px 14px 32px 0px #FFB20E4A;
}
.sec3div1 a::after{
    content:url(./images/CHEVRON-RIGHT.svg);
    margin-left:5px;
}
/* Section3 Style End */

/* Section4 Style Start */
.popular{
    margin-top: 80px;
}
.popular h2{
    font-weight: 700;
    color:#212121;
    font-size: 30px;
}
.sec4div1{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.section4 .card{
    width:17% !important;
    margin:20px;
    border:none;
} 
.section4 .card-title{
    align-items:  center !important;
    color:#424242;
    font-family: Source Sans Pro !important;
    font-weight:700 !important;
}
.section4 .btn{
    width:100%;
    background-color: #F17228;
    color:white;
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24);
}
.sec4div1 .title1{
    margin-left: 70px;
}
.sec4div1 .title2{
    margin-left: 40px;
}
.sec4div1 .title3{
    margin-left: 50px;
}
.sec4div1 .title4{
    margin-left: 20px;
}
.sec4div1 .title5{
    margin-left: 80px;
}
/* Section 4 Style End */

/* Footer Style Start */

.footer{
    margin-top:50px;
    width:100%;
}
.bgimgfoot{
    width:100%;
}
.topfooterline{
    margin-top:-800px;
}
.bottomfooterline{
    position: absolute;
    margin-top: -90px;
   
}
.footdiv1{
    display:flex;
    justify-content: space-between;
}
.table1{
    margin-top: -400px;
    margin-left:100px;
    width:150%;
    height:100%;
}
th{
    font-weight: 700;
    color:white;
    line-height: 80px;
}
td{
    font-weight: 400;
    color:white;
    line-height: 30px;
}
.footdiv3{
    margin-top: -350px;
    margin-right: 180px;
}
.footdiv3 h4{
    color: #F5F5F5;
    font-size:10px;
}
.instagram{
    content: url(./images/instagram.svg);
}
.facebook{
    content:url(./images/facebook.svg);
    margin-left:10px;
}
.twitter{
    content:url(./images/twitter.svg); 
    margin-left:10px;
}
.social{
    display:flex;
    margin-top: 30px;
}
.footdiv4{
    margin-top: 30px;
}
.receive{
    font-weight: 700;
    color: #BBBBBB;
}
.email{
    font-weight:400;
    color:#ADADAD;
    padding: 10px 12px;
    width:90%;
    border-radius:5px;
    background-color: #424242;
}
.subscribe{
    text-decoration: none;
    font-weight: 700;
    color:white;
    border-radius: 8px;
    background: var(--yellow-button, linear-gradient(93deg, #FFB800 -47.72%, #FF8A00 136.81%));
    box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29), 0px 5px 8px 0px rgba(222, 151, 0, 0.24);
    padding: 10px 20px;
    position: absolute;
    margin-left: 290px;
    margin-top: -60px;
}
.message{
    content: url(./images/envelope.svg);
    position: absolute;
    margin-top:-48px;
    margin-left: 10px;
}
.footdiv5{
    display: flex;
    position: absolute;
    margin-top: -80px;
}
.rights{
    font-weight:400;
    color: #F5F5F5;
    margin-left:50px;
}
.rights::after{
    content: url(./images/copyright.svg);
    margin-left: 10px; 
}
.footdiv7{
  margin-left: 1030px;
}
.made{
    font-weight: 400;
    color:#F5F5F5;
}
.footdiv6{
    margin-left: 50px;
}
.name{
    font-weight: 800;
}
